style.css:
---------
h1 {
    font-family:helvetica;
    font-size:100px;
    font-weight:bold;
    color:khaki;
    text-align:center;
    background-image:url("https://github.com/Ganda3147/Ganda3147.github.io/blob/622f87e067421d55aee58724dd9bdfff78bde381/pattern.jpg");
}

h2 {
    font-family:helvetica;
    font-size:32px;
    font-weight:bold;
    color:white;
}

.brushes {
    background-color:mediumspringgreen;
}

.frames {
    background-color:lightcoral;
}

.paint {
    background-color:skyblue;
}

.start {
    font-family:helvetica;
    font-weight:bold;
    color:blue;
}
